.env
key.txt
venv/
__pycache__/
logs/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.xlsx
*.xls
*.docx
*.pptx
*.pdf
*.zip
*.tar.gz
*.rar
*.7z
*.tgz
*.gz
*.bz2
*.xz
*.egg-info
*.egg
*.whl
*.dist-info      